################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TokiPonaApp/obj
/TokiPonaApp/.vs/TokiPonaApp/FileContentIndex
*.user
/TokiPonaApp/.vs/TokiPonaApp
/TokiPonaApp/bin/Debug/net10.0
/TokiPonaApp/appsettings.json
